/* ==================== ATTEMPT BOX ==================== */
#attempt-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.canva {
  /* background-color: #fff; */
  background-image: linear-gradient(
    rgb(168, 218, 252),
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
  border-radius: 2rem;
  width: 40vmin;
  height: 40vmin;
}
.guess {
  font-size: 2vmin;
}
